{% extends 'halaman/index.html' %}
{% load static %}

{% block content %}
<section class="position-relative">
  <div class="page-header min-vh-50" style="background-image: url('../assets/img/bg3.jpg');" loading="lazy">
    <span class="mask bg-gradient-info"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center mx-auto">
          <h2 class="text-white mb-3">How can we help you?</h2>
          <p class="lead text-white mb-6">
            We always want to hear from you! Let us know if there is anything that we can help you with.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6 mb-4">
  <div class="container">
    <div class="row mt-sm-0 mt-5">

      <div class="col-lg-3 col-md-4 position-relative ms-lg-auto">
        <div class="p-3 text-center border-right-after">
          <i class="material-icons text-gradient text-info text-5xl mb-3">email</i>
          <h6 class="mb-0">Email</h6>
          <p class="text-dark font-weight-normal">adityaasaputraa2005@gmail.com</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 position-relative">
        <div class="p-3 text-center border-right-after">
          <i class="material-icons text-gradient text-info text-5xl mb-3">call</i>
          <h6 class="mb-0">Phone</h6>
          <p class="text-dark font-weight-normal">+(62)8970791413</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 me-lg-auto">
        <div class="p-3 text-center">
          <i class="material-icons text-gradient text-info text-5xl mb-3">contacts</i>
          <h6 class="mb-0">Contact</h6>
          <p class="text-dark font-weight-normal">Muhammad Aditya Dwi Saputra</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}