<!-- -------- START FOOTER 5 w/ DARK BACKGROUND ------- -->
<div class="position-relative mt-8">
  <div class="container">
    <div class="card bg-gradient-dark border-0 z-index-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8 mx-auto text-center my-auto">
            <h3 class="text-white">Terima Kasih Telah Berkunjung Ke Websaya</h3>
            <p class="text-white opacity-8 px-5">
              Your company may not be in the software business,
              but eventually, a software company will be in your business.
            </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer pb-5 pt-8 bg-light mt-n5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h6 class="font-weight-bolder mb-lg-4 mb-3">Material Design</h6>
      </div>
      <div class="col-lg-6 text-center">
        <ul class="nav flex-row align-items-center mb-5 mt-sm-0 justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="https://www.creative-tim.com" target="_blank">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.creative-tim.com/presentation" target="_blank">
              About
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://www.creative-tim.com/blog" target="_blank">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.creative-tim.com" target="_blank">
              Services
            </a>
          </li>
        </ul>
        <p class="mb-0">
          Copyright © <script>
            document.write(new Date().getFullYear())
          </script> Material Design by Creative Tim.
        </p>
      </div>
      <div class="col-lg-3 text-end">
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="fab fa-dribbble text-lg"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="fab fa-twitter text-lg"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="fab fa-pinterest text-lg"></span>
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary">
          <span class="fab fa-github text-lg"></span>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->